/*----------------------------------------------MAIN CSS--------------------------------------------*/
.main{
    position: relative;
    width: 100%; 
    margin:0;
    height: 1320px;
    margin-top: 20px;
    font-family: Book Antiqua;
    margin-top: 100px;
    min-height: 100%;
}

/*----------------------------------------------ALL INFO--------------------------------------------*/
.aboutStyle{
    padding: 15px;
    font-family: Book Antiqua;
    font-size: 16px;
}

.aboutStyle h1{
    font-family: Agency FB;
    font-size: 35px;
}

.aboutStyle h2{
    font-family: Agency FB;
    font-size: 27px;
}

/*----------------------------------------------FORM--------------------------------------------*/
.container{
        padding: 40px;
        border-style: none;
        border-color: none;
        margin-top: -10px;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #000000;
    box-sizing: border-box;
}

.container textarea{
    width: 100%;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
}

.cancelbtn,.signupbtn {
    float: left;
    width: 50%;
}