/*------------------------------------------------MAIN CSS------------------------------------------------*/
.main{
    position: relative;
    font-family: Book Antiqua;
}

/*------------------------------------------------INFO------------------------------------------------*/
h3,h2{ 
    float: left;
    margin-left: 30px;
    margin-right: 30px;

}

/*--------------------------------------------tubnail----------------------------------------*/

.tubmargin {
    margin-top: 15%;
}
